apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - svc.yaml
  - ingress.yaml

commonLabels:
  environment: ${GITHUB_REF_NAME}
  url: http://${GITHUB_REPOSITORY_NAME}.${GITHUB_REF_NAME}.${NAME_SPACE}.lab
  owner: ${GITHUB_ACTOR}
  repo: ${GITHUB_REPOSITORY_NAME}
  commit: ${GITHUB_SHA}

commonAnnotations:
  team: devops