apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - svc.yaml
  - ingress.yaml

commonLabels:
  environment: ${GITHUB_REF_NAME}
  team: devops

commonAnnotations:
  owner: ${GITHUB_ACTOR}
  repo: ${GITHUB_REPOSITORY}
  commit: ${GITHUB_SHA}