apiVersion: v1
kind: Service
metadata:
  name: ${GITHUB_REPOSITORY}-service
  namespace: ${NAME_SPACE}
  labels:
    name: ${GITHUB_REPOSITORY}
    namespace: ${NAME_SPACE}
spec:
  selector:
    app: ${GITHUB_REPOSITORY}
  ports:
    - name: http       # 🔹 nombre obligatorio y único
      port: ${PORT}
      targetPort: ${PORT} 

  type: ClusterIP